.Body-Page{
    top:0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    height: 100vh;

}
.Nav-Side-Menu-Width{
    width: 0%;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    color:white;
    background-color: white;
}


.Content-Page-Width{
    width: 100%;
    background-color: white; color: black;
    padding:8px;
}

.Master-Header{
    background-color:#1C2B36;
     display:  flex;
      flex-direction: row;
       align-items: center;
       height: 65px;
        /* justify-content: space-between; */
        padding: 0px 8px 0px 8px;
    }

.Master-Body{
    background-color: white;
     display: flex;
      flex-direction: row;
       flex: 1;
    }

.Nav-Side-Menu{
    width: 16%;
     background-color: #1C2B36;
     display: flex;
    flex-direction: column;
    transition: width 0.5s;
    padding: 8px;
    /* transition-delay: 0.5ms; */
}

.Content-Page{
   
     color: black;
      width: 84%;
      padding:8px;
    }

.Master-Footer{
    border-top: 1px solid grey;
     color: white;
      font-weight: bold;
       font-size: 16px;
        justify-content: flex-end;
    margin-top: auto;
}


.parent-menu-sub{
 /* display: none; */
 padding-left: 15px;
 margin-bottom:0px;
 height: 0px;
 overflow: hidden;
 transition :height 0.3s ease;
}


.parent-menu:hover{
    cursor: pointer;
}
.parent-menu div:hover{
    background-color: tomato;
}
.parent-menu-sub li:hover{
    background-color: tomato;
    color: white;
}
.parent-menu-sub li{
    padding:3px;

}

.parent-menu-sub-Link{
    text-decoration: none;
    color: white;
}
.parent-menu:hover .parent-menu-sub{
    display:  block;    
    height: 100%;
    transition :height 0.7s ease;
}
.parent-menu-heading{
    color:white;
    font:bold;
    font-size: 16px;
    padding:2px;
}

.parent-menu-sub-Link:hover{
    color:white;
}


.parent-menu-heading::after{
    content: "+";
    text-align: right;
    float:right;
}
.parent-menu:hover .parent-menu-heading:after{
    content: "-";
}

.fullPageView{
    background: #e3cccc;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0;
    position: fixed;
}



/* Dashboard Css */
.arrow{float:right;line-height:1.42857}
.glyphicon.arrow:before{content:"\e079"}
.active>a>.glyphicon.arrow:before{content:"\e114"}
.fa.arrow:before{content:"\f104"}
.active>a>.fa.arrow:before{content:"\f107"}
.plus-times{float:right}
.fa.plus-times:before{content:"\f067"}
.active>a>.fa.plus-times{
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg)}

.plus-minus{float:right}
.fa.plus-minus:before{content:"\f067"}
.active>a>.fa.plus-minus:before{content:"\f068"}


